.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#quiz_end_card {
  padding: 20px;
}

#quiz_end_card p {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
